footer.page-footer.page-footer-default
	.section-75.section-sm-80.section-md-100
		.shell
			.range.text-sm-left
				.cell-sm-6.cell-lg-3
					span.small.text-spacing-340.text-white.text-uppercase.text-bold About our company
					p.offset-top-20 We remain true to the same principles on which our company was founded over a hundred years ago: providing superior services to our clients, putting safety first, creating opportunities for our people.
				.cell-sm-6.cell-lg-3
					span.small.text-spacing-340.text-white.text-uppercase.text-bold RECENT EVENTS
					article.event.offset-top-20
						p: a.text-white(href='#') Results of Annual General Meeting
						time.small.offset-top-10(datetime='2018') June 1, 2018
					article.event.offset-top-20
						p: a.text-white(href='#') Our company has been awarded “The Best Industrial Company” prize
						time.small.offset-top-10(datetime='2018') June 1, 2018
				.cell-sm-6.cell-lg-2.cell-xl-3.offset-top-40.offset-lg-top-0
					span.small.text-spacing-340.text-white.text-uppercase.text-bold INFORMATION
					ul.list.list-marked.offset-top-20.list-xs
						li: a.text-white(href='#') Our company
						li: a.text-white(href='#') Our services
						li: a.text-white(href='#') Careers
						li: a.text-white(href='#') Certifications
						li: a.text-white(href='#') Company history
						li: a.text-white(href='#') Core values
						li: a.text-white(href='#') FAQ
						li: a.text-white(href='#') Gallery
				.cell-sm-6.cell-lg-4.cell-xl-3.offset-top-40.offset-lg-top-0
					span.small.text-spacing-340.text-white.text-uppercase.text-bold CONTACT INFO
					p.offset-top-20 You can always contact us via email or phone. Get in touch with us today to find out more about our services.
					ul.list.offset-top-20.text-left
						li
							.unit.unit-horizontal.unit-spacing-xs
								.unit-left
									span.icon.icon-primary.fa-map-marker
								.unit-body
									a.text-gray-lighter(href='#') 1901 Avenue of the Stars Suite 200 Washington, CA 90067
						li
							.unit.unit-horizontal.unit-spacing-xs
								.unit-left
									span.icon.icon-primary.fa-phone
								.unit-body
									a.text-gray-lighter(href='tel:#') 646-325-0357
						li
							.unit.unit-horizontal.unit-spacing-xs
								.unit-left
									span.icon.icon-primary.fa-envelope
								.unit-body
									a.text-gray-lighter(href='mailto:#') mail@demolink.org
	
	section.section-25.bg-shark-1
		.shell
			p.small-xs Copyright
				="\t"
				span.copyright-year
				="\t"
				| All rights reserved by Eco Plast.