header.page-head#home
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-secondary(data-stick-up-clone='true' , data-layout='rd-navbar-fixed', data-md-layout='rd-navbar-static', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static",  data-lg-stick-up-offset="252px")
			.rd-navbar-inner
				span.small Welcome to our website! We work for you!
				ul.list-inline.list-inline-lg.offset-top-0
					li: a.ioon.icon-sm.icon-silver-chalice.fa-facebook(href='#')
					li: a.ioon.icon-sm.icon-silver-chalice.fa-twitter(href='#')
					li: a.ioon.icon-sm.icon-silver-chalice.fa-instagram(href='#')
					li: a.ioon.icon-sm.icon-silver-chalice.fa-google-plus(href='#')
					li: a.ioon.icon-sm.icon-silver-chalice.fa-pinterest-p(href='#')
			.rd-navbar-inner
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
						span
					button.rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse')
						span
					.rd-navbar-brand
						a.brand-name(href='index.html')
							span.brand-logo.veil Eco Plast
							img(src="images/brand-default-112x40.png", width="112", height="40", alt="Eco Plast")
				
				.rd-navbar-collapse.animated
					.rd-navbar-collapse-items
						ul.list-inline.text-center.text-lg-left
							li
								.unit.unit-horizontal.unit-spacing-xs
									.unit-left
										span.icon.icon-primary.fa-phone
									.unit-body
										.title
											span.small CUSTOMER SUPPORT & SALES
										h6
											a(href='tel:#') 646-325-0357
							li
								.unit.unit-horizontal.unit-spacing-xs
									.unit-left
										span.icon.icon-primary.fa-map-marker
									.unit-body
										.title
											span.small Address
										h6
											a(href='#') 12 Main Street Pt. London England
							
							li
								.unit.unit-horizontal.unit-spacing-xs
									.unit-left
										span.icon.icon-primary.fa-clock-o
									.unit-body
										.title
											span.small Opening hours
										h6 Mon - Sat: 8am - 6pm
					.rd-navbar-collapse-items
						ul.list-inline.list-inline-lg.offset-top-0
							li: a.ioon.icon-sm.icon-silver-chalice.fa-facebook(href='#')
							li: a.ioon.icon-sm.icon-silver-chalice.fa-twitter(href='#')
							li: a.ioon.icon-sm.icon-silver-chalice.fa-instagram(href='#')
							li: a.ioon.icon-sm.icon-silver-chalice.fa-google-plus(href='#')
							li: a.ioon.icon-sm.icon-silver-chalice.fa-pinterest-p(href='#')
			.rd-navbar-inner
				.rd-navbar-nav-wrap
					ul.rd-navbar-nav
						li.active: a(href='#home') Home
						li: a(href='#about') About
						li: a(href='#services') Services
						li: a(href='#products') Products
						li: a(href='#news') News
						li: a(href='#team') Team
						li: a(href='#contacts') Contacts
