section.section-30
  .shell
    .range
      .cell-sm-6.cell-lg-4.cell-xl-3
        span.icon.icon-lg.icon-primary.thin-icon-tint
        h5.offset-top-15.offset-lg-top-25: a(href='#')  Injection Molding
        p.text-gray-light-1.text-justify In injection molding, the material is fed into an extruder, where a reciprocating screw melts the material and then injects it into a mold.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.offset-sm-top-0.cell-xl-preffix-1
        span.icon.icon-lg.icon-primary.thin-icon-download
        h5.offset-top-15.offset-lg-top-25: a(href='#').postfix-xl-right--25 Mold Making
        p.text-gray-light-1.text-justify Mold making is the process used to duplicate 3D models that are created with 2 molds - originally and negatively shaped.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.offset-lg-top-0.cell-xl-preffix-1
        span.icon.icon-lg.icon-primary.thin-icon-picture
        h5.offset-top-15.offset-lg-top-25: a(href='#')  Design & Prototyping
        p.text-gray-light-1.text-justify Our design and prototyping engineers are here to provide you with their expert advice to ensure your products’ quality.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50
        span.icon.icon-lg.icon-primary.thin-icon-box
        h5.offset-top-15.offset-lg-top-25: a(href='#')  Secondary Operations
        p.text-gray-light-1.text-justify Our Secondary Operations include many assembly techniques that use the inherent nature of the material to eliminate parts.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.cell-xl-preffix-1
        span.icon.icon-lg.icon-primary.thin-icon-layers
        h5.offset-top-15.offset-lg-top-25: a(href='#')  Extrusion Technology
        p.text-gray-light-1.text-justify Plastic Extrusion can meet all of your custom plastic profile and plastic tubing extrusion needs while providing high-quality results.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.cell-xl-preffix-1
        span.icon.icon-lg.icon-primary.thin-icon-delivery
        h5.offset-top-15.offset-lg-top-25: a(href='#')  Assembly & Automation
        p.text-gray-light-1.text-justify We use reliable and innovative assembly and automation solutions to provide our customers with high-quality plastics.