section.section-75.section-md-120.section-xl-150#team
	.shell
		h2
			span.small Meet The Team
			="\t"
			| People behind our success
		.range.range-sm-justify
			.cell-sm-6.cell-md-5.cell-lg-3
				+jpg_responsive('about-02-360x404')
				h6
					a(href='#')  Paul Eddington
				span.small.small-md CEO
				p Paul is a founder and CEO of Plastic Products. He manages all important processes at our company.
			.cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-sm-top-0
				+jpg_responsive('about-03-360x404')
				h6
					a(href='#')  Dana Wilson
				span.small.small-md Office Manager
				p Dana is the first person you met when you enter our office. She is always ready to tell our customers more about our company.
			.cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-lg-top-0
				+jpg_responsive('about-04-360x404')
				h6
					a(href='#')  Roy Johnson
				span.small.small-md Sales Manager
				p Mr. Johnson oversees the work of our Sales Department. He also manages all domestic and international purchases.
			.cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-lg-top-0
				+jpg_responsive('about-05-360x404')
				h6
					a(href='#')  John Doe
				span.small.small-md Director of Business Development
				p Mr. Doe is responsible for managing the work of Business Development Department as well as identifying sales leads.