section.section-75.section-md-100.section-lg-120.section-xl-130
  .shell
    h2
      span.small Testimonials
      | What clients say
    // Owl Carousel
    .owl-carousel(data-items='1', data-md-items='2', data-dots='true' data-nav='false' data-stage-padding='8', data-loop='false', data-margin='16', data-mouse-drag="false")
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ We are very selective in who we use as suppliers. Companies must meet the high quality standards and flexibility that we require.  Eco Plast has consistently met these criteria. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-02-68x68")
            .unit-body
              h6: cite Jill Handerson
              span.offset-top-10.small-xs CEO, Firetree Co.
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ Eco Plast is willing to try anything to produce the results the client is looking for. They are on the cutting edge with tooling, equipment and design capabilities. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-03-68x68")
            .unit-body
              h6: cite Jim Johnson
              span.offset-top-10.small-xs Head manager, Frober Design
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ I have been working with Eco Plast for 13 years and have never been disappointed. The people at this company have a true open door policy, and extreme flexibility. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-04-68x68")
            .unit-body
              h6: cite Peter Sanders
              span.offset-top-10.small-xs Regional manager, GPD Ltd.
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ Eco Plast is an outstanding company. They are knowledgeable, easy to work with, produce high quality parts, and are always competitive on price. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-05-68x68")
            .unit-body
              h6: cite Jennifer Williams
              span.offset-top-10.small-xs Sales manager, iStep Co.
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ We are very selective in who we use as suppliers. Companies must meet the high quality standards and flexibility that we require.  Eco Plast has consistently met these criteria. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-02-68x68")
            .unit-body
              h6: cite Jill Handerson
              span.offset-top-10.small-xs CEO, Firetree Co.
      .owl-item
        blockquote.quote-default.offset-top-25.text-sm-left
          h6: q “ Eco Plast is willing to try anything to produce the results the client is looking for. They are on the cutting edge with tooling, equipment and design capabilities. ”
          .unit.unit-horizontal.unit-spacing-xs.unit-middle.offset-top-30.offset-md-top-40
            .unit-left
              .img-circle
                +jpg("testimonials-03-68x68")
            .unit-body
              h6: cite Jim Johnson
              span.offset-top-10.small-xs CEO, Firetree Co.