.range
  .cell-md-4.cell-sm-6
    +jpg_responsive('team-member-02-485x555')
    h6: a.text-white(href='project-single.html') Residential House at Southward St.
    p
      a.text-content(href='#') Building
      span ,
      ="\t"
      a.text-content(href='#') House
  .cell-md-4.cell-sm-6.offset-top-40.offset-sm-top-0
    +jpg_responsive('team-member-03-485x555')
    h6: a.text-white(href='project-single.html') Eastwood Hotel
    p
      a.text-content(href='#') Building
      span ,
      ="\t"
      a.text-content(href='#') Hotel
  .cell-md-4.cell-sm-6.offset-top-40.offset-md-top-0 
    +jpg_responsive('team-member-04-485x555')
    h6: a.text-white(href='project-single.html') California Mega Mall
    p
      a.text-content(href='#') Building
      span ,
      ="\t"
      a.text-content(href='#') Mall