.swiper-container.swiper-slider.swiper-secondary(data-height='100vh', data-min-height='300px')
	.swiper-wrapper.text-md-left
		.swiper-slide(data-slide-bg='images/slider-02-1920x950.jpg')
			.swiper-slide-caption
				.shell
					.range.section-100-vh.range-xs-middle.range-xs-center.range-md-right
						.cell-md-6.cell-sm-9.postfix-md-right-90.postfix-xl-right-0(data-caption-animate="fadeInDown" data-caption-delay="200")
							h1 offering reliable plastic solutions
							.divider-1
							p.h6.offset-top-40 We provide durable plastic products for industrial needs.
							.group
								a.btn.btn-white.btn-form(href='#') Our services
								a.btn.btn-default.btn-form(href='#', data-toggle='modal', data-target='#modalContact') Get in touch
		
		.swiper-slide(data-slide-bg='images/slider-01-1920x950.jpg')
			.swiper-slide-caption
				.shell
					.range.section-100-vh.range-xs-middle.range-xs-center.range-md-right
						.cell-md-6.cell-sm-9.postfix-md-right-90.postfix-xl-right-0(data-caption-animate="fadeInDown" data-caption-delay="200")
							h1 Molding Good Ideas Into Great Products
							.divider-1
							p.h6.offset-top-40 Our company provides a wide range of high-quality plastic goods.
							.group
								a.btn.btn-white.btn-form(href='#') Our services
								a.btn.btn-default.btn-form(href='#', data-toggle='modal', data-target='#modalContact') Get in touch
	.swiper-button-prev
		span Prev
	.swiper-button-next
		span Next
	.custom-way-point.custom-way-point-swiper.animated(data-custom-scroll-to='about') Scroll down


